@model IEnumerable<KenyattaUniversity.Models.Student>

<h1>Students</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IDSortParm">ID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.FirstMidNameSortParm">First Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParm">Last Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSortParm">Enrollment Date</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StudentID</td>
                <td>@item.Fname</td>
                <td>@item.Lname</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StudentID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>